#header{
padding-left: 5%;
padding-right: 5%;
padding-top: 5%;
padding-bottom: 5%;
width: 100%;
height: auto;
max-width: 100%;

background: url('../img/header.jpg'); 
}
#topic{
   top: 100px;
   font-family: sans-serif;
   color: yellow;
   font-size: 6vw;
   text-align: center;
    
}
#box{
    border: 2px solid yellow;
    border-radius: 22px;
}

#listnav li a{
  color: lightgrey;
}
#listnav li a:hover{
    color: white;
  }
#iconcoder{
    color: lightgrey;
    margin-right: 3%;
}
#iconcoder:hover{
    color: white;
}
#main{
   
    background-image: url("../img/bg2.jpg");
    height: 100%;
    position: relative;
}
#boxinside{
    background-color: red;
    

}