#listnav{
    margin-left:40%;
}
#listnav li a{
  color: white;
}
#listnav li a:hover{
    color: lightgrey;
  }
#iconcoder{
    color: White;
    margin-right: 3%;

}
#iconcoder:hover{
    color: lightgrey;
}
.dropdown-item{
    background: lightblue;
}

#inputsearch{
    width: 30%;
    margin-left: 2%;
    margin-right: 1%;
}
.dropdown-menu{
    background:lightblue;
}
#main{
    height: 100%;
    background: grey;
    text-align: center
}
.box{
    position: absolute;
    top: 50%;
    right: 35%;
    text-align: center;
   
   
}#getstart{
    margin-top: 10%;
}
h1{
    color:white;
    font-family: 'Courier New', Courier, monospace
}